.home-container {
  margin-left: 20px;
  margin-top: 40px;
}

.sub-heading {
  color: white;
  font-size: 22px;
  margin-left: 20px;
}
.album-container {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.loading-component {
  display: flex;
  justify-content: center;
  width: 90vw;
  height: 100vh;
  align-items: center;
}
